/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

.form-area{
padding: 10px 0 35px 0px;
height: 100px;
}

.navbar{

  width:100%;
  padding-left: 5%;
  padding-right: 5%;
}

html, body  { height: 100%; }
      .main-container { min-height: 100%; position: relative;}

      .main-content { height: 1200px; padding-bottom: 70px;}

      footer {
          height: 70px;
          background-color: rgba(197,202,233 ,1);
          width: 100%;
          position: absolute;
          bottom: 0;
          padding-top: 18px;
      }
