<footer class="container navbar-fixed-bottom" style="margin-top: 100px;margin-bottom:20px;">
  <p class="text-center">Copyright ©2017 Meetup
  <br>Design by
   <a href="http://xyy601-blog.logdown.com/archives" target="_new">xyy</a>
 </p>
</footer>
